<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Spring Security 5 and MongoDB.</title>
    </head>
    <body>
            <h1>Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
            <h2>You are succesfully logged as an Admin!</h2>

            <!-- currentUser: <div th:text="${currentUser}"></div>
            role: <div th:text="${role}"></div>
            adminMessage: <div th:text="${adminMessage}"></div> -->

            <div sec:authorize="isAuthenticated()">
                N1: This content is only shown to authenticated users.
            </div>
            <div sec:authorize="hasAnyAuthority('ADMIN')">
                N2: This content is only shown to administrators.
            </div>

    </br>
            <form action="/logout" method="post">
                <input type="submit" value="Sign Out"/>
            </form>

    </body>
</html>
